body {
	background: rgb(34,193,195);
    background: linear-gradient(315deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	font-family: cursive;
	font-size: 4rem;
	min-height: 100vh;
}
a {
	color: #833ab4;
	transition: all 0.2s;
	text-decoration: none;
}
a:hover {
	color: #de2544;
}